body {
    background-color: white;
  }
  
  h1 {
    color: navy;
    margin-left: 20px;
  }
  table tr {
    border-bottom: 1px solid black;
  }
  table td {
    border-bottom: 1px solid black;
  }
  table tr:last-child { 
    border-bottom: none; 
}
.kaikki {
    width: 950px;
    border: 1px solid black;
    overflow: hidden; 
}
  .kaupunki {
    background-color: lightblue;
    width: 300px;
    float: left;
    border: 1px solid black;
  }
